<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.nichetoolkit.mybatis.mapper.LoadMapper">
    <resultMap type="io.github.nichetoolkit.mybatis.test.load.LoadEntity" id="loadResultMap">
        <id property="id.loadPk1" column="load_pk1"/>
        <id property="id.loadPk2" column="load_pk2"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="paramId" column="param_id"/>
        <result property="linkage.linkId1" column="link_id1"/>
        <result property="linkage.linkId2" column="link_id2"/>
        <result property="time" column="time"/>
        <result property="operate" column="operate"/>
        <result property="logic" column="logic"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <association property="linkEntity1" column="link_id1"
                     javaType="io.github.nichetoolkit.mybatis.test.load.LoadLinkEntity1"
                     select="io.github.nichetoolkit.mybatis.mapper.LoadLinkMapper1.findById" >
        </association>

        <collection property="linkEntity2s" column="{linkId=param_id}"
                     ofType="io.github.nichetoolkit.mybatis.test.load.LoadLinkEntity2"
                     select="io.github.nichetoolkit.mybatis.mapper.LoadLinkMapper2.findByLinkId" >
        </collection>
    </resultMap>

    <select id="querAllTest" resultMap="loadResultMap">
        SELECT * FROM ntr_load
    </select>

</mapper>